# History files
.Rhistory
.properties
*DS_Store*
.log
.class
node_modules

# Example code in package build process
*-Ex.R
/java/mp3s-tageditor/TagEditor/nbproject/private/
/java/mp3s-tageditor/TagEditor/build/
/java/mp3s-tageditor/TagEditor/dist/
/java/StreamExpt/nbproject/private/
/java/StreamExpt/build/
/java/MinaStream/nbproject/private/
/java/MinaStream/build/
/java/StreamServer/nbproject/private/
/java/StreamServer/build/
/java/StreamServer/src/config.properties
/java/StreamServer/dist/
/java/JSFProducer/nbproject/private/
/java/JSFProducer/build/
/java/JMSExpt1/target/
/java/SpringBatchExpt/target/
/java/SessionExample/target/
/java/SpringJMSExpt/target/
/java/ResourceScheduling/target/
/java/SimpleSolution/nbproject/private/
/java/SimpleSolution/build/
