html
    head
        title Playlist saved
    body
        h1 Playlist saved
        p
            | Your playlist 
            a(href='/list/#{playlist}') #{playlist}
            | was saved successfully
