body {
  font-family: Arial, Helvetica, sans-serif
}

.sender_account {
  border: 1px solid #343434;
}

#newaccount.hidden {
  display: none;
}

.senderdetail {
  width: 90%;
  display: table;
}

.optional {
  font-size: smaller;
  font-style: italic;
}

label {
  font-weight: 700;
  color: darkblue;
}