<!doctype html>
<HTML>
  <HEAD>
    <TITLE>edit playlist</TITLE>


  </HEAD>
  <BODY>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin>
    </script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin>
    </script>
    <% if @playlist %>
    Playlist content:
    <form>
      <select name="playlist" multiple>
        <% @foo.each do |song| %>
        <option id="<%= song['file_hash'] %>" name="<%= song['file_hash'] %>" >
          <%= song['display_title'] %>
        </option>
        <% end %>
      </select>
      <input type="submit" value="Save" />
    </form>

    <div id="search_section">
    </div>
    <script src="/js/ext-static/axios.min.js"></script>
    <script src="/js/playlist_functions.js"></script>
    <% else %>
    Sorry, you don't have permission to manage playlists.
    <% end %>
  </BODY>
</HTML>
