<!doctype html>
<HTML>
  <HEAD>
    <TITLE>edit playlist</TITLE>
    <link rel="stylesheet" href="/css/playlist.css">
  </HEAD>
  <BODY>

    <% if @actions[:playlist] %>
    <% if @playlist_id %>
    <div class="layout" id="playlist_section" data-custom-props='{ "playlistId": <%= @playlist_id %> }'>
    </div>
    <% else %>
    <div class="layout" id="playlist_section">
    </div>
    <% end %>
    <div class="layout" id="search_section">
    </div>
    <script src="/js/spa/list.bundle.js"></script>
    <% else %>
    Sorry, you don't have permission to manage playlists.
    <% end %>
  </BODY>
</HTML>
