<!doctype html>
<HTML>
  <HEAD>
    <TITLE>manage playlists</TITLE>
    <link rel="stylesheet" href="/css/playlist.css">
  </HEAD>
  <BODY>
    <% if @playlist %>
    Select your playlist:
      <ol>
      <% @foo.each do |opt| %>
      <li><a href="/playlist/<%= opt['id'] %>" >
        <%= opt['name'] %>
      </a></li>
      <% end %>
      <li><a href="/playlist_new">Create new</a></li>
      </ol>
    <% else %>
    Sorry, you don't have permission to manage playlists.
    <% end %>
  </BODY>
</HTML>
