<!doctype html>
<HTML>
  <HEAD>
    <TITLE>manage playlists</TITLE>
  </HEAD>
  <BODY>
    <% if @playlist %>
    Select your playlist:
      <ol>
      <% @foo.each do |opt| %>
      <li><a href="/playlist/<%= opt['id'] %>" >
        <%= opt['name'] %>
      </a></li>
      <% end %>
      </ol>
    <% else %>
    Sorry, you don't have permission to manage playlists.
    <% end %>
  </BODY>
</HTML>
