<!doctype html>
<HTML>
  <HEAD>
    <TITLE>manage playlists</TITLE>
  </HEAD>
  <BODY>
    <% if @playlist %>
    <%= @foo %>
    <% else %>
    Sorry, you don't have permission to manage playlists.
    <% end %>
  </BODY>
</HTML>
