body {
  background-color: #fff3e0;
  font-family: sans-serif, Arial;
}

table tr > td:first-child {
    min-width: 100px;
}

table.playlists > tr {
  border: 1px solid #000000;
}
.playlist_name {
  font-style: normal;
  font-weight: bold;
  font-size: large;
}

.playlist_modified {
  font-style: italic;
  font-size: small;
}

div.info {
  font-size: 14px;
  background: #efe6dd;
  padding: 10px;
}

span.control {
    width: 80%;
}

table.layout {
  width: 90%;
}

img.disabled {
  opacity: 25%;
}
img.up {
  height: 30px;
  width: 50px;
  object-fit: cover;
  object-position: 0 -40%;
}

img.down {
  height: 30px;
  width: 50px;
  object-fit: cover;
  object-position: 0 140%;
}

table.playlists {
  padding-top: 15px;
  border-spacing: 0px;
}
div.disabled-actions {
  font-weight: bold;
  font-style: italic;
  color: gray;
}
div.actions:hover {
  background: #f9ac32;
  transition: background 0.5s ease-out;
}
table.playlist_entry {
  border: 1px solid black;
  background-color: #FBAB7E;
  background-image: linear-gradient(79deg, #FBAB7E 0%, #F7CE68 53%);
}
table.playlists tr > td {
  padding: 3px;
}
div.layout {
  width: 80%;
  padding: 5px;
}
div#search_section {
  width: 340px;
}
select#playlist {
  min-width: 250px;
  width: 95%;
  resize: vertical;
  font-family: Arial,sans-serif;
  font-size:small;
  background: peachpuff;
}
ul.click {
  list-style-type: none;
  padding: 0;
  border: 1px solid #555;
  background-color: #f5dd88;
  cursor: pointer;
}
ul.click > li {
  color: #715634;
  padding: 2px 4px;
  border-bottom: 1px solid #555;
  background-color: inherit;
  animation: slide-up 0.4s ease;
}

ul.click > li.inlist {
  list-style-type: disc;
}

input#latestBtn {
    margin-left: 20px;
}
input#randomBtn {
    margin-left: 10px;
}

li.title_1 {
  font-style: oblique;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  opacity: 0;
  position: absolute;
  display: inline-block;
  z-index: 1;
}

div.tooltipshow {
  position: relative;
  left: 250px;
  top: -75px;
  background-color: #555;
  visibility: visible;
}
span.tooltipshow {
  visibility: visible;

  position: relative;
  /* background-color: #555; */
  color: white;
  text-align: left;
  font-size:14px;
  border-radius: 3px;

}
.tagMenuItem:hover {
  background-color:#f5dd88;
  width: 100%;
}
.add-tag-link {
  text-decoration: none;
  font-weight:300;
}
.tagMenuItem {
  color: rgb(144, 144, 197);
}
.taglist-item {
  margin-right:6px;
  background-color: #d1d3ba;
}
.taglist-container {
  border: 1px solid #333333;
}
ul.taglist {
  list-style-type: none;
  margin: auto;
  display: block;
  width: 100%;
  padding: 5px;
}

.tooltipshow  {
  width:400px;
  visibility: visible;
  transition: opacity 600ms, visibility 600ms;
}

a {
  font-weight: bold;
}

ul.click > li :hover {
  background-color: #553344;
  -o-transition:background 0.2s ease-in;
  -moz-transition:background 0.2s ease-in;
  -webkit-transition:background 0.2s ease-in;
  transition: background 0.2s ease-in;
  color: #f5dd88;
}
div.tagMenu {
  border: 1px solid #ffffff;
  max-height: 200px;
  transition: max-height 0.5s;
  background-color: #cddce5;
}
div.tagMenu-hidden {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  background-color: #cddce5;
}
.tag-link-small {
  font-size: smaller;
}
/* when new items appear they slide in from below */
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
