/* 
    Document   : newcss
    Created on : Apr 13, 2013, 7:55:26 PM
    Author     : colin
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.trvisible {
    display: table-row;
}

.trhidden {
    display: none;
}

td,th {
    font-family: arial, sans-serif;
    font-size: small;
    border: black 2px solid;
}

th {
    font-family: helvetica, verdana, sans-serif;
    font-size: medium;
    font-weight: bold;
}

[readOnly] {
    background-color: #ccc;
    font-weight: bold;
}

table {
    width: 900px;
    border: blue thin solid;
}