ul > li {
    display: table;
}

span.xoff {
    color: #7aa;
    font-weight: normal;
}

div.wrapper {
margin: 20px;
    width: 1300px;
    display: flex;
    overflow:hidden;
}

div#source {
    width: 600px;
    background: lightblue;
    float: left;
    display:block;
}
div#targetcontainer {
    width: 600px;
    background: lightgreen;
    display:block;
    overflow: hidden;
    z-index: 0;
}

#targetlist {
    width: 400px;
    background: #945;
    border: 2px solid black;
    z-index: 3;
}
ul#sourcelist li { 
    margin-left: 30px;
    padding: 2px 20px 2px 20px;
    font-size: 14px; 
    font-family: arial, sans-serif;
    vertical-align: middle;
    display: table-cell;
    width: 500px; 
    height: 30px; 
    border: 1px solid #333; 
    background: linear-gradient(#ccc, #aab);
    z-index: 4;
}

ul#targetlist li {
    list-style-type: none;
    font-size: 12px;
    font-family: arial, sans-serif;
    padding: 2px 2px 2px 2px;
    z-index:5;
}

li.playlistsong {
    font-weight: bold;
    z-index:6;
}

[ng-drag] {
    user-select: none;
    z-index: 100;
}
[ng-drag] {
    cursor:move;
    position: relative;
}
[ng-drag].drag-over{
    border:solid 1px red;
    position: relative;
    z-index:0;
}

[ng-drag].dragging{
    opacity: 0.5;
}

[ng-drop]  {
    position: relative;
    z-index: -1;
}
[ng-drop].drag-enter {
    border: solid 5px red;
    position: relative;
    z-index: -1;
}
