ul > li {
    display: table;
}

span.xoff {
    color: #7aa;
    font-weight: normal;
}

div.wrapper {
margin: 20px;
    width: 1200px;
    display: flex;
}

div#source {
    width: 600px;
    background: lightblue;
}
div#targetcontainer {
    width: 600px;
    background: lightgreen;
    position:fixed;
}
#targetlist {
    width: 400px;
    background: #945;
    border: 2px solid black;
}
ul#sourcelist li { 
    margin-left: 30px;
    padding: 2px 20px 2px 20px;
    font-size: 14px; 
    font-family: arial, sans-serif;
    vertical-align: middle;
    display: table-cell;
    width: 500px; 
    height: 30px; 
    border: 1px solid #333; 
    background: linear-gradient(#ccc, #aab);
}

ul#targetlist li {
    list-style-type: none;
    font-size: 12px;
    font-family: arial, sans-serif;
    padding: 2px 2px 2px 2px;
}

li.playlistsong {
    font-weight: bold;
}

[ng-drag] {
    user-select: none;
}
[ng-drag] {
    cursor:move;
}
[ng-drag].drag-over{
    border:solid 1px red;
}

[ng-drag].dragging{
    opacity: 0.5;
}

[ng-drop]  {
    z-index: -9; /* doesn't work yet */
    position: relative;
}
[ng-drop].drag-enter {
    border: solid 5px red;
}
