<!doctype html>
<HTML>
  <HEAD>
    <TITLE>log your bills, statements, etc.</TITLE>
    <link rel="stylesheet" href="/css/default.css">
    <script src="/js/ext/axios.min.js"></script>
    <script src="/js/entity.js" type="text/javascript" ></script>
  </HEAD>
  <BODY>

    <h2>Statement Log</h2>
    <ul>
      <li><p>Add new...</p>
      <ul>
        <li><a href="/document_new">Document</a> (statement, invoice, etc.)</li>
        <li><a href="/sender_new">Sender</a></li>
      </ul>
      </li>
      <li><p>View/search for...</p>
        <ul>
          <li><a href="/documents">All documents</a> (TODO)</li>
          <li><a href="/sendercontacts">Contact a Sender...</a></li>
          <li><a href="/doctypes">List of document types</a></li>
        </ul>
      </li>
      <li><p>Maintain list of...</p>
      <ul>
        <li><a href="/senders">Senders</a></li>
        <li><a href="/taglist">Tags</a></li>
      </ul>
      </li>
    </ul>
</body>
</html>