<div class='top_navigation'>
  <div class='link'>
    <% if page == 'documents' %>
    <a href="/main">Home</a> &gt; Documents
    <% elsif page == 'new document' %>
    <a href="/main">Home</a> &gt; <a href="/documents">Documents</a> &gt; New Document
    <% elsif page == 'edit document' %>
    <a href="/main">Home</a> &gt; <a href="/documents">Documents</a> &gt; Edit Document
    <% elsif page == 'payments' %>
    <a href="/main">Home</a> &gt; <a href="/documents">Documents</a> &gt; Payments
    <% elsif page == 'senders' %>
    <a href="/main">Home</a> &gt; Senders 
    <% elsif page == 'new sender' %>
    <a href="/main">Home</a> &gt; <a href="/senders">Senders</a> &gt; New Sender
    <% elsif page == 'edit sender' %>
    <a href="/main">Home</a> &gt; <a href="/senders">Senders</a> &gt; Edit Sender
    <% elsif page == 'sender contacts' %>
    <a href="/main">Home</a> &gt; <a href="/senders">Senders</a> &gt; Sender Contacts
    <% elsif page == 'document types' %>
    <a href="/main">Home</a> &gt; Document Types 
    <% elsif page == 'tag types' %>
    <a href="/main">Home</a> &gt; Tag Types 
    <% end %>
  </div>
</div>