<!doctype html>
<HTML>
  <HEAD>
    <TITLE>Hi there <%= name %></TITLE>
    <link rel="stylesheet" type="text/css" href="css/songs.css" />
    <script src="js/angular.min.js"></script>
    <script src="js/ngDraggable.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/songCtrl.js"></script>
  </HEAD>
  <BODY>
    <% if name != nil -%>
    <div ng-app="songList" ng-controller="songCtrl as sc">
        <span>Song folder: 
            <input ng-model="sc.folder" value="ripped">
            <button ng-click="sc.getSongs()"/>Switch folder</button>
        </span>
        <div class="wrapper">
            <div id="source">
                <span ng-show="sc.songData.length">Filter songs: <input ng-model="sc.filter"></span>
                <ul id="sourcelist" >
                    <li ng-hide="sc.songData.length">No songs found.</li>
                    <ng-repeat ng-repeat="x in sc.songData | filter:sc.filter">
                        <li id={{x.hash}} ng-drag="true" ng-drag-data="x" data-allow-transform="true">{{x.title}}</li>
                    </ng-repeat>
                </ul>
            </div>
            <div id="targetcontainer">
                <form>
                    Your playlist title: <input ng-model="sc.listname" name="playlist" required>
                    <input id="listcontent" name="listcontent" type="hidden" />
                    <input id="username" name="username" type="hidden" value="<%= name %>" />
                    <input type="button" ng-click="sc.saveList()" value="Save"/>
                    <input type="button" ng-click="sc.loadList()" value="Load"/>
                </form>
                <div id="target" ng-drop="true" ng-drop-success="sc.onDropComplete1($data, $event)">
                    <ul id="targetlist">
                        <ng-repeat ng-repeat="obj in sc.droppedObjects1">
                        <li class="playlistsong" data-id="{{obj.hash}}">
                        <span class="xoff" ng-click="sc.removeSong(obj)"> x </span>{{obj.title}}
                        </li>
                        </ng-repeat>
                        <li ng-hide="sc.droppedObjects1.length">no songs</li>
                    </ul>
                </div>
                <div>Your playlists: <input type="button" value="Refresh" ng-click="sc.getPlaylists('<%= name %>')"/>
                <select ng-change="sc.loadList()" ng-model="sc.listnameFromSelect" ng-options="item.name for item in sc.userPlaylists">
                    <option value="">Select playlist</option>
                </select> 
                </div>
            </div>
        </div>
    </div>
    <% else -%>
    <div><b>Not logged in.</b> Please <a href="login.html">log in</a> to continue.</div>
    <% end -%>
  </BODY>
</HTML>
