<!doctype html>
<HTML>
  <HEAD>
    <TITLE>Hi there <%= name %></TITLE>
    <link rel="stylesheet" type="text/css" href="css/songs.css" />
    <script src="js/angular.min.js"></script>
  </HEAD>
  <BODY>
    <% if name != nil %>
    <div>Under construction.
    </div>
    <% else %>
    <div><b>Not logged in.</b> Please <a href="login.html">log in</a> to continue.</div>
    <% end %>
  </BODY>
</HTML>
