body {
  font-family: 'Microsoft Sans Serif', 'Helvetica Neue', sans-serif
}

html {
  scroll-behavior: smooth;
}

tr.tr-show td div {
  visibility: visible;
  height: auto;
  opacity: 1;
  transition: all 200ms ease-in;
}
tr.tr-hide {
  height: 0px;
}
tr.tr-hide td {
  height: 0px;
}
tr.tr-hide td div {
  visibility: collapse;
  height: 0px;
  opacity: 0;
  transition: opacity 100ms ease-in, visibility 400ms ease-in 100ms, height 300ms ease-out 500ms;
}
.tabContainer {
  border-bottom: 1px solid gray;
}
button.senderTabContent {
  background: #e3dddd;
  color: #222b2b;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  min-width: 140px;
}
table.tabs {
  border: 0;
  padding-bottom: 0;
}
button.senderTabSelected {
  background: rgb(172, 189, 193);
  color: darkblue;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  min-width: 140px;
}
.link-style {
    font-weight: 600;
    font-size: 14px;
    background: midnightblue;
    padding: 6px;
    border-radius: 5px;
    color: yellow;
    margin-left: 4px;
}
button.senderTab {
  background: white;
  color: rgb(73, 142, 142);
  border-bottom: 1px solid black;
  border: 1px solid gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  min-width: 140px;
}


input.sender_field {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #f0f0ff;
  margin: 2px;
  width: 100%;
}

table.senderdetail label {
  font-weight: 700;
}
th.recvd {
  min-width: 130px;
}

button:disabled {
  opacity: .6;
}
button {
  opacity: 1;
  color: #ffffaa;
  background-color: #5a55a0;
  border-radius: 6px;
  border: 0px;
  padding: 7px;
  font-weight: 600;
}

div.account_closed {
  font-style: italic;
  font-weight: 700;
  color: darkred;
}

div.top_navigation {
  border: 1px solid grey;
  width: 100%;
  padding: 10px;
  background-color: linen;
}

select.sender_field {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #f0f0ff;
  margin: 2px;
  width: 100%;
}

.tagFilterList-Active {
  margin-left:3px;
  border-bottom: 3px solid #fd6262;
}
textarea.sender_field {
  background-color: #f0f0ff;
  margin: 2px;
  width: 90%;
}

div.fieldval {
  padding: 6px;
}
textarea.fieldval {
  background-color: #f0f0ff;
  margin: 2px;
  width: 90%;
}

table.documentdetail {
  background-color: #ddd;
    border-radius: 9px;
    border: 0;
    padding: 25px;
    margin: 9px;
}
table.dates {
  width: 100%;
  margin: 8px;
}

table.documenttable {
  padding: 5px;
  border-spacing: 0px;
  font-size: small;
  line-height: 20px;
}

.doc_filename {
  color: rgb(51, 131, 51);
}

table.tabContent {
  width: 100%;
}
table.tabContent tr td:first-child {
  width: 200px;
}
table.documenttable tr:nth-child(odd) {
  background-color: #e8edf4;
}

table.documenttable tr:nth-child(even) {
  background-color: #dee3e7;
}

table.documenttable tr:nth-child(odd):hover {
  background-color: #cbdcf3;
}

table.documenttable tr:nth-child(even):hover {
  background-color: #c9d9e7;
}

table.documenttable tr {
  visibility: visible;
  opacity: 1;
  transition: all 0.25s ease-in;
}

table.documenttable tr.hidden td div {
  max-height: 0;
  transition: all 0.25s ease-in;
}

table.documenttable tr td div {
  max-height: 50px;
  transition: all 0.25s ease-in;
}

table.documenttable tr.hidden {
  visibility: collapse;
  opacity: 0;
  transition: all 0.25s ease-in;
}

table.documenttable tr td {
  padding: 5px 15px 5px 15px;
}

ul#tagTable li {
  display: inline;
}

.accountnumber {
  opacity: 1;
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.contact_info_container {
  border-bottom: 1px dashed darkgray;
  padding-bottom: 10px;
  background-color: #dddddd;
}
.contact_info_container_closed {
  opacity: 0.8;
  border-bottom: 1px dashed darkgray;
  padding-bottom: 10px;
  background-color: #bbbbbb;
}
.account_info_container {
  border-bottom: 1px dashed darkgray;
  padding-bottom: 10px;
  background-color: #dddddd;
}
.account_info_container_closed {
  opacity: 0.8;
  border-bottom: 1px dashed darkgray;
  padding-bottom: 10px;
  background-color: #bbbbbb;
}

.accountnumber:hover {
  opacity: 1;
  color: black;
  text-shadow: 0;
}

input.fieldval {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #f0f0ff;
  margin: 2px;
  padding: 6px;
}

input.field_changed {
  border-top: 2px solid red;
  border-top-style: dashed;
}

textarea.field_changed {
  border-top: 2px solid red;
  border-top-style: dashed;
}

.searchbar {
  border: 1px solid grey;
  padding: 2px;
  margin-bottom: 5px;
  background: rgb(246, 240, 148);
}

.sender_account {
  border: 1px solid #343434;
  background-color: #ebe6f2;
  padding: 6px;
}

.sender_account_closed {
  border: 1px solid #343434;
  background-color: #5a5a61;
}

.sender_account_closed span.account_closed {
  color: coral;
}

input.senderBtnToggle {
  border-radius: 10px;
  border: 0;
  background: #a55;
  color: #fff;
}
.sender_contact {
  border: 1px solid #343434;
  background-color: #d2eee2;
  padding: 6px;
}


#newaccount.hidden {
  display: none;
}

#newcontact.hidden {
  display: none;
}
.tagFilterList {
  margin-left:3px;
}

table.senderlist tr.hidden {
  opacity: 0;
  max-height: 0;
  height: 0;
  visibility: collapse;
  transition: all 0.25s ease-in;
}

table.senderlist tr {
  opacity: 1;
  max-height: 50px;
  height: auto;
  visibility: visible;
  transition: all 0.25s ease-in;

}
.senderDocumentListNone {
  font-style: italic;
  color: #888;
}
table.senderlist tr td {
  padding-top:3px;
  padding-bottom:3px;
}

table {
  border: 1px solid grey;

  padding: 5px;
}

td {
  color: sienna;
}

.sendername a:visited {
  color: rgb(237, 40, 158);
}

.sendername {
  font-size: large;
  font-weight: 700;
  margin-left: 6px;
  color: #b66ddd;
}

.senderdetail_hidden {
  display: none;
}
.senderdetail {
  display: table;
  background: #ddd;
  width: 90%;
  border: 0;
  border-radius: 8px;
}

.advice {
  font-size: smaller;
  font-style: italic;
  border: 1px solid #000;
}

.field_value {
  font-weight: 400;
  color: #336699;
}

.optional {
  font-size: smaller;
  font-style: italic;
}

div.filesection {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

button.icon {
  padding: 0px;
  border: 0;
  background-color: transparent;
}

.fileops {
  display: inline-flex;
  padding: 3px;
}

button.icon img {
  width: 30px;
  padding: 0px;
}


label {
  font-weight: 500;
  color: darkblue;
}

.add_document {
  margin: 10px;
}

.top_navigation {
  margin-bottom: 10px;
  width: fit-content;
}

.not_provided {
  font-style: italic;
  color: lightgrey;
}

.jumplink button {
  border: 0;
  background-color: white;
  color: midnightblue;
  text-decoration: underline;
}

.jumplink {
  justify-content: right;
  display: flex;
  position: relative;
  width: 100%;
  bottom: 60px;
  right: 40px;
}