body {
  margin: 0;
  font-family: 'Microsoft Sans Serif', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.std-list {
  text-align: left;
  border: 1px solid black;
  padding: 5px;
  margin: 3px;
}
.sender-collapsed {
  display: none;
}
.sender-expanded {
  display: block;
  margin-left: 32px;
  background: #eed;
  border-radius: 7px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
